

body {
    font-family: Arial, sans-serif;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Navbar styles */
.navbar {
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 40px;
    justify-content:start;
    align-items: center;
    background-color: #00000056;
    color: #fff;
    margin-top: 20px;
    z-index: 98;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.navbar-logo a {
    text-decoration: none;
    color: goldenrod;
    font-size: 1.5rem;
    padding-left: 20px;
}
.navbar-links{
    display: flex;
}
.navbar-links ul {
    display: flex;
    list-style: none;
}

.navbar-links ul li {
    margin-right: 20px;
}
.navbar-links ul li a:hover{
    color: goldenrod;
}

.navbar-links ul li:last-child {
    margin-right: 0;
    justify-content: end;
}

.navbar-links ul li a {
    text-decoration: none;
    color: #fff;
}
.navbar-toggle {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Responsive Navbar Styles */
@media screen and (max-width: 768px) {
    .navbar{
        height: px;
    }
    .navbar-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #333;
        position: relative;
        top: 70px;
        left: 0;
        transition: all 0.3s ease-in;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
        position: relative;
    }
}
.hero{
    background-image: url("Photos/20230905210535_[fpdl.in]_modern-home-with-garage-garage-door_781958-473_large.jpg");
    
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: 5px;
    border-radius: 20px;
    z-index: 100;
    color: white;
}
.hero::after 
    content: "";
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); /* Adjust gradient colors and transparency */
}
.hero-title{
    display: inline-flex;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 20px;
    z-index: 97;
}
.hero-h1{
    font-size: 70px;
    z-index: 97;
    color: white;
    padding-left: 20px;
}
.hero-p{
    font-size: 20px;
    z-index: 97;
    padding-left: 20px;
     
}
span{
    color: goldenrod;
}
/* hero buttons*/

.hero-button {
    --color: #0077ff;
    font-family: inherit;
    display: inline-block;
    width: 10em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    margin-top: 60px;
    font-size: 17px;
    z-index: 1;
    color: black;
    border: 0px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
  .hero-button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 170%;
    height: 220px;
    z-index: -1;
    border-radius: 30%;
  }
  
  .hero-button:hover {
    color: white;
  }
  
  .hero-button:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  .hero-button:hover::before {
    top: -30px;
    left: -30px;
  }

  /*search button*/
  .search-button {
    --color: #0077ff;
    font-family: inherit;
    display: inline-block;
    width: 10em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    font-size: 17px;
    background-color:goldenrod;
    z-index: 1;
    color: white;
    border: 0px solid var(--color);
    border-radius: 26px;
    position: relative;
  }
  
  .search-button::before {
    position: absolute;
    content: "";
    background-color: var(--color) ;
    width: 170%;
    height: 220px;
    z-index: -1;
    border-radius: 30%;
  }
  
  .search-button:hover {
    color: white;
  }
  
  .search-button:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  .search-button:hover::before {
    top: -30px;
    left: -30px;
  }
  .newest{
    display: flex;
    justify-content: center;
  }
.deals-div{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px; 
    border-radius: 20px;
    background-color: rgba(211, 211, 211, 0.473);
}
.deal-frame{
    display: inline-flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 380px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.new-date{
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    left: 0px;
    top: 0px;
    width: 40px;
    height: auto;
    z-index: 4;
    color: white;
    background-color: #333;
}
.deal-frame-img{
    display: flex;
    position: relative;
    height: 200px;
    width: 250px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: bisque;
    z-index: 5;
}
.img{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.img:hover {
    filter: grayscale(100%);
    cursor: pointer;
}
.img-text{
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 15px;
    width: 240px;
    margin: 5px ;
}
.deal-button {
    position: relative;
    display: flex;
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    overflow: hidden;
    border: none;
   }
   
.deal-button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: goldenrod;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
.deal-button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
   }
   
   .deal-button span {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
    font-weight: 400;
    letter-spacing: 0.1em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
   .deal-button:hover span {
    color: #ffffff;
    animation: scaleUp 0.3s ease-in-out;
    width: 100%;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }
   .deal-button-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
   }
   
   /* Renting space*/

.first-div{
    display: inline-flex;
    position: relative;
    padding-left: 100px;
    padding-right: 20px;
    padding-top: 40px;
    flex-direction: row;
    align-items: flex-start;
    flex-shrink: 0;
    margin-bottom: 30px;
}
.second{
    width: 500px;
    left: 40px;
    top: 18px;
}
.head-text{
    color: #000;
    font-family: Arial;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.svg-img{
    height: 250px;
}
.svg-h3{
    color: #000;
    font-family: Arial;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.details-div{
    display: inline-flex;
    position: relative;
    flex-direction: row;
    justify-content: start;
    padding-top: 0px;
}
.heading1-svg{
    display: inline-flex;
    position: relative;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 25px;
}
.img-div{
    display: inline-flex;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 400px;
    object-fit: contain;

}
.img-div-head{
    display: flex;
    position: relative;
    margin-left: 40px;
}


/* news*/

.news-title{
    display: inline-flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0px;
}
.news-h1{
    padding-left: 100px;
}
.news-button {
    position: relative;
    display: flex;
    height: 30px;
    width: 100px;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    overflow: hidden;
    border: none;
   }
   
.news-button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: goldenrod;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
.news-button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
   }
   
   .news-button span {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
    font-weight: 400;
    letter-spacing: 0.1em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
   .news-button:hover span {
    color: #ffffff;
    animation: scaleUp 0.3s ease-in-out;
    width: 100%;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }