

body{
    font-family: arial;
    background-color: rgb(253, 217, 172);
  }

.listdiv,
.head-inputs{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin: 10px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.listdiv{
  padding-top: 0px;
}
.input{
  height: 30px;
  font-size: 16px;
  
}

.date{
  height: 30px;
  font-size: 16px;
}
.add{
  background-color: rgb(130, 252, 130);
  border: 0px;
  cursor: pointer;
  height: 35px;
}
.delete-div{
  background-color: rgb(252, 189, 130);
  border: 0px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}
.name-div{
  max-width: 200px;
  font-size: 16px;
}
.dueDate-div{
  
  font-size: 16px;
}
.maindiv{
  background-color: antiquewhite;
  min-height: 150px;
  width: 500px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
 
}
.todolist{
  font-size: 30px;
  margin-left: ;
  font-weight: bold;
  
}
