

body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
html{
    margin-left: 40px;
    margin-right: 40px;
}

.nav{
    display: inline-flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;

}
.nav a{
    text-decoration: none;
    color: black;
}
.nav a:hover{
    text-decoration: none;
    color: rgb(6, 109, 3);
}
.nav ul li{
    display: flex;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    margin-right: 30px;
}
.nav-button{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: 100px;
    border: none;
    border-radius: 4px;
    background-color: rgb(2, 71, 2);
    color: white;
}
.nav-button:hover{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: 100px;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 204, 0);
    transition-duration: 300ms;
    color: white;
}
.side2{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* hero */
.h1-hero{
    font-size: 70px;
    line-height: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.img{
    width: 100%;
    overflow: hidden;
}
.hero-img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.main{
    display: inline-flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: solid rgba(0, 0, 0, 0.144);
    border-width: 1px 1px 1px 1px;
    margin-top: 30px;
    width: 100%;
}
.div1{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 500px;
    margin-left: 10px;
}
.div2{
    display: inline-flex;
    position: relative;
    flex-direction: row;
    width: 540px;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.box{
    height: 205px;
    width: 255px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 17px;
    margin: 5px;
    border: solid rgba(0, 0, 0, 0.144);
    border-width: 1px;
}

.circle{
    background-color: orange;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px;
}
.details{
    margin-left: 10px;
}
.box-button{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 29px;
    margin: 10px;
    width: 70px;
    border: none;
    border-radius: 4px;
    background-color: rgb(2, 71, 2);
    color: white;
}
.box-button:hover{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: 100px;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 204, 0);
    transition-duration: 300ms;
    color: white;
}
.bi-alarm-fill{
    font-size: 10px;
    color: white;
}
/* carousel */
.car-main{
    display: inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(231, 230, 230);
    padding-bottom: 20px;
}
.car-box{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    height: 350px;
    width: 300px;
    margin-top: 20px;
    margin-left: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
}
.img-div{
    width: 300px;
    overflow: hidden;
}
.car-img{
    height: 100%;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.car-box-details p{
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 4px;
    font-size: 13px;
}
.car-box-details h3{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 26px;
}
.profile{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.profile p{
    font-size: 15px;
}
.dp{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.dp-image{
    height: 40px;
    width: 40px;
    background-color: black;
    margin-right: 5px;
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.dp-img{
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.car-box a{
    text-decoration: none !important;
    color: black;
}
.car-box a:hover{
    text-decoration: none !important;
    color: rgb(2, 163, 10);
    transition: 300ms;
}
.boxes{display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.teach-main{
    display: inline-flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.teach1{
    display: inline-flex;
    width: 600px;
    height: 500px;

}
.teach2{
    display: inline-flex;
    width: 500px;
    height: 500px;
}
.teach-image{
    display: flex;
    height: 450px;
    width: 450px;
    overflow: hidden;
    z-index: 90;
}
.teach-img{
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.teach-form{
    display: inline-flex;
    position: absolute;
    z-index: 99;
    margin-left: 280px;
    margin-top: 200px;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-color: whitesmoke;
}
.teaching-form{
    display: inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
}
.name-input{
    height: 28px;
    width: 240px;
    margin-bottom: 20px;
    outline: none;
    background-color: rgba(228, 227, 227, 0.74);
    border: none;
}
.teach2{
    display: inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.teach-h1{
    font-size: 35px;
    line-height: 36px;
}
.count{
    display: flex;
    flex-direction: row;
    
}
.count1{
    display: inline-flex;
    flex-direction: column;
    margin-right: 30px;
}
.count1 h1{
    margin-bottom: 0px;
    font-size: 30px;
}
.count1 p{
    margin-top: 0px;
}
.submit-button{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: rgb(190, 190, 190);
    color: rgb(0, 0, 0);
}
.submit-button:hover{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 204, 0);
    transition-duration: 300ms;
    color: white;
}
.become-button{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: 150px;
    border: none;
    border-radius: 4px;
    background-color: rgb(2, 71, 2);
    color: white;
}
.become-button:hover{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: 150px;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 204, 0);
    transition-duration: 300ms;
    color: white;
}
.testimony{
    display: inline-flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.giv-quote{
    display: inline-flex;
    flex-direction: column;
    width: 500px;
    justify-content: flex-start;
    align-items: flex-start;
}
.giv-quote h1{
    font-size: 40px;
}
.quotes{
    display: inline-flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20px;

}
.quote{
    display: inline-flex;
    position: relative;
    flex-direction: column;
    width: 500px;
    height: 150px;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    border: solid rgba(0, 0, 0, 0.137);
    border-width: 1px;
}
.quote a{
    text-decoration: none;
    color: black;
}
.quote a:hover{
    text-decoration: none;
    color: rgb(31, 124, 2);
}
.quote p{
    margin-left: 10px;
}
/*footer*/

.footer{
    display: inline-flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    background:#f0f0f0 ;
    width: 100%;
    
    margin-top: 20px;
}
.detail1{
    margin-left: 10px;
    width: 200px;
}
.details{
    margin-right: 10px;
}
.footer a{
    text-decoration: none;
    color: black;
}
.footer a:hover{
    text-decoration: none;
    color: rgb(0, 175, 0);
}
.footer li{
    list-style: none;
}

