@media screen and (max-width: 768px) {
    html{
        margin-left: 10px;
        margin-right: 10px;
    }
   
    .h1-hero{
        font-size: 30px;
        line-height: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .nav-button{
        display: inline-flex;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 85px;
        border: none;
        border-radius: 4px;
        background-color: rgb(2, 71, 2);
        color: white;
    }
    .nav-button:hover{
        display: inline-flex;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 85px;
        border: none;
        border-radius: 4px;
        background-color: rgb(0, 204, 0);
        transition-duration: 300ms;
        color: white;
    } 
    p{
        font-size: 13px;
    }
    h2{
        font-size: 20px;
    }
    .box{
        height: 180px;
        width: 200px;
        margin: 5px;
    }
    .box h3{
        font-size: 15px;
    }
    .car-box{
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        height: 340px;
        width: 280px;
        margin-top: 20px;
        margin-left: 5px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        overflow: hidden;
    }
    .img-div{
        width: 280px;
        overflow: hidden;
    }
    .car-img{
        height: 100%;
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
    }
    .car-box-details p{
        margin-left: 10px;
        margin-top: 3px;
        margin-bottom: 4px;
        font-size: 13px;
    }
    .car-box-details h3{
        margin-left: 10px;
        margin-bottom: 0px;
        margin-top: 0px;
        line-height: 20px;
        font-size: 15px;
    }
    .profile{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
    }
    .profile p{
        font-size: 15px;
    }
    .dp{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }
    .dp-image{
        height: 40px;
        width: 40px;
        background-color: black;
        margin-right: 5px;
        margin-left: 10px;
        border-radius: 50%;
        overflow: hidden;
    }
    .div1{
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .div2{
        display: inline-flex;
        position: relative;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: space-around;
        align-items: center;
    }
    .circle{
        background-color: orange;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin: 10px;
    }
    .teach1{
        display: inline-flex;
        width: 100%;
        height: 550px;
    
    }
    .teach-image{
        display: flex;
        height: 450px;
        width: 100%;
        overflow: hidden;
        z-index: 90;
    }
    .teach-img{
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    .teach-form{
        display: inline-flex;
        position: absolute;
        justify-content: center;
        z-index: 99;
        margin-left: 0px;
        margin-top: 460px;
        height: 300px;
        width: 100%;
        border-radius: 5px;
        background-color: whitesmoke;
    }
    .name-input{
        height: 28px;
        width: 300px;
        margin-bottom: 20px;
        outline: none;
        background-color: rgba(228, 227, 227, 0.74);
        border: none;
    }
    .teach2{
        display: inline-flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding: 20px;
        margin-top: 220px;
        background-color: rgb(255, 255, 255);
    }
    .teach2{
        display: inline-flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .teach2 h1{
        font-size: 30px;
    }
    .quotes{
        display: inline-flex;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    
    }
    .quote{
        display: inline-flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        height: 120px;
        justify-content: center;
        padding: 10px;
        margin: 0px;
        margin-bottom: 20px;
        border: solid rgba(0, 0, 0, 0.137);
        border-width: 1px;
    }
    .giv-quote{
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .giv-quote h1{
        font-size: 30px
    }
    .footer li{
        font-size: 13px;
    }
    .footer h3{
        font-size: 15px;
    }
   
    .nav ul li{
        display: none;
        list-style: none;
        flex-direction: row;
        margin-right: 30px;
    }
   
}

@media screen and (max-width: 600px){
    .car-box{
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        height: 380px;
        width: 80%;
        margin-top: 20px;
        background-color: azure;
        border-radius: 5px;
        overflow: hidden;
    }
    .img-div{
        width: 100%;
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) and (max-width: 1124px) {
    /* CSS rules for screens between 768px and 1024px wide */

    .h1-hero{
        font-size: 50px;
        line-height: 60px;
        margin-top: 30px;
        margin-bottom: 20px;
    } 
    .div1{
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .div2{
        display: inline-flex;
        position: relative;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .teach2{
        display: inline-flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .giv-quote{
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .quotes{
        display: inline-flex;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    
    }
    .quote{
        display: inline-flex;
        position: relative;
        flex-direction: column;
        width: 400px;
        height: 150px;
        justify-content: center;
        padding: 10px;
        margin: 0px;
        margin-bottom: 20px;
        border: solid rgba(0, 0, 0, 0.137);
        border-width: 1px;
    }
}